server:
  port: 8082

convertio:
  apikey: ${CONVERTIO_API_KEY:}

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          public-key-location: classpath:app.pub

  application:
    name: arquivo_service

  datasource:
    url: ${ARQUIVO_DB_URL:jdbc:postgresql://localhost:5432/arquivo_db}
    username: ${ARQUIVO_DB_USER:arquivo_user}
    password: ${ARQUIVO_DB_PASSWORD:arquivo_password}
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true

  sql:
    init:
      mode: always

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

# Swagger/OpenAPI configuration
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
  api-docs:
    path: /v3/api-docs
    enabled: true
  packages-to-scan: com.fileflip.arquivo_service
  server:
    url: ${SERVER_URL:http://localhost:8082}


