<div class="flex items-center p-4 justify-between">
  <img src="logotipo.svg" alt="FileFlip Logo" />

  <ul class="flex gap-10 text-center text-[#03133A]">
    <li *ngFor="let item of items; trackBy: trackByLabel">
      <i class="{{item.icon}} mr-2"></i>
      <a [routerLink]="item.routerLink" routerLinkActive="active-link" class="header-link">
        {{ item.label }}
      </a>
    </li>
  </ul>

  <button
    class="bg-blue-600 hover:bg-blue-900 text-white font-normal py-3 px-4 rounded flex justify-center items-center gap-2">
    <i class="pi pi-check"></i>
    <span>Cadastrar</span>
  </button>

</div>