<div class="flex items-center p-4 justify-between">
  <img src="logotipo.svg" alt="FileFlip Logo" />

  <ul class="flex gap-10 text-center text-[#03133A]">
    <li *ngFor="let item of items; trackBy: trackByLabel">
      <i class="{{item.icon}} mr-2"></i>
      <a [routerLink]="item.routerLink" routerLinkActive="active-link"
        class="header-link text-[#03133A] mt-0.5 group inline-block relative pb-1 transition-colors duration-200 ease-in-out hover:text-[#03133A] focus:outline-none focus:ring-2 focus:ring-sky-200">
        {{ item.label }}
        <span
          class="absolute left-0 bottom-0 h-0.5 bg-[#03133A] w-0 group-hover:w-full transition-all duration-200"></span>
      </a>
    </li>
  </ul>

  <div class="flex gap-4 items-center">
    <a href=""
      class="text-[#03133A] mt-0.5 group inline-block relative pb-1 transition-colors duration-200 ease-in-out hover:text-[#03133A] focus:outline-none focus:ring-2 focus:ring-sky-200">
      Cadastrar-se
      <!-- underline absoluto: não afeta layout -->
      <span
        class="absolute left-0 bottom-0 h-0.5 bg-[#03133A] w-0 group-hover:w-full transition-all duration-200"></span>
    </a>
    <button
      class="bg-blue-600 hover:bg-[#03133A] transition-colors duration-200 ease-in-out cursor-pointer text-white font-normal py-3 px-4 rounded flex justify-center items-center gap-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-log-in-icon lucide-log-in">
        <path d="m10 17 5-5-5-5" />
        <path d="M15 12H3" />
        <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4" />
      </svg>
      <span>Entrar</span>
    </button>
  </div>

</div>